
.page {
  width: 1440px;
}

.header {
  height: 60px;
  background-color: #FE1A19;
}

.h1 {
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color:white;
padding:20px;
}

.columns {
  text-align: center;
  margin-top: 52px;
}

.column {
  width: 400px;
  border: 4px solid blue;
  box-sizing: border-box;
  border-radius: 25px;
  display: inline-block;
  padding: 33px;
}


.h2{
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

 
.ul, .h6 {
  font-family: Times New Roman;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.h6 {
  margin-top: 18px;
}

.second, .third {
  margin-left: 50px;
}

.footercontainer {
  height: 60px;
  margin-top: 52px;
}

.footer {
  height: 60px;
  background-color: #FE1A19;
}

.h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  color: white;
}
