body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 20px;
    color:white;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}


ul {
    list-style-type: none; 
    padding-left: 0;
   }   

.header {
  height: 60px;
  background-color: #FE1A19;
}

.h1 {
  font-size: 20px;
  padding:20px;
}

.columns {
  text-align: center;
  margin-top: 52px;
}

.column {
  width: 400px;
  border: 4px solid blue;
  border-radius: 25px;
  display: inline-block;
  padding: 33px;
}


.h2{
  color: black;
  text-align: left;
  font-size: 20px;
}

 
.ul, .h6 {
  font-family: Times New Roman;
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.h6 {
  margin-top: 18px;
}

.second, .third {
  margin-left: 50px;
}

.footercontainer {
  height: 60px;
  margin-top: 52px;
}

.footer {
  height: 60px;
  background-color: #FE1A19;
}

.h3 {
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}
