
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer {
	height: 100px;
	background-color:#0000FF;
	display: flex;
	align-items: center;
}

.h1 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color:#FFFFFF;
	margin-left:30px;
}

.rectangles {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4 {
	height: 165px;
	width: 330px;
	border: 5px solid #000000;
	display: flex;
	align-items: center;
	margin: 20px;
}

h2 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
}

@media screen and (min-width: 667px) {
	.rectangle1, .rectangle2, .rectangle3, .rectangle4 {
		height: 300px;
		width: 600px;
		border: 5px solid #000000;
		display: flex;
		align-items: center;
		margin: 10px;
}

	h2 {
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		line-height: 57px;
		text-align: center;
	}

	.rectangles {
		flex-direction: row;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.column1, .column2 {
		flex-direction: column;
	}
	
}
