.container {
  display: grid;
  margin: 0 5rem;
  grid-template-columns: 3fr 7fr 2fr;
  grid-template-rows: 5rem;
  grid-gap: 2rem 1rem;
  grid-template-areas:
    "logo menu menu"
    "offer content contactus"
    "form content ."
    "footer footer footer";
}

.logo {
  grid-area: logo;
  align-self: center;
}

.main-menu {
  grid-area: menu;
  /* align-self: center;
  justify-self: end; */
  place-self: center end;
}

.contact-pic {
  grid-area:offer ;
  align-self:start;
}

.form {
  grid-area: form;
}

.content-area {
  grid-area: content;
}

.contacts {
  grid-area:contactus;
  justify-self: end;

}


.icons {
  grid-area: icons;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows:1fr;
  grid-gap: 1rem;
}

.footer { 
  grid-area: footer;
  display: grid;
  grid-template-columns: 7vw 1fr 7vw;
}

.footer-container { 
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3,2fr) 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "logo navigation secondary social"
     "contact contact . newsletter"; 
}

.footer-logo { 
  grid-area: logo; 
} 

.footer-nav { 
  grid-area: navigation;
  justify-self: center; 
} 

.footer-secondary-nav { 
  grid-area: secondary; 
  justify-self: center;
} 

.social-networks { 
  grid-area: social;
} 

.contact-block { 
  grid-area: contact; 
} 

.newsletter { 
  grid-area: newsletter; 
}

.social-networks {
 grid-area: social;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: auto auto; 
 justify-items: center;
} 

.social-networks h3 {
 grid-column: 1 / -1;
} 

.facebook { 
  justify-self: right;
} 

.instagram { 
  justify-self: left;
}

.contact-block, .newsletter {
 align-self: end; 
}

 /* resposive */

@media all and (max-width: 992px) {
  .container {
    margin: 0 3rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3rem;
    grid-template-areas:
    "logo menu"
    "offer content"
    "form content"
    "contactus content"
    "footer footer";
  }

  .footer { 
  grid-template-columns: 2vw 1fr 2vw; 
  padding:2vw 0;
}

  .contacts {
    justify-self:start;
  }

  .logo__link {
  font-size: 2rem;
  }

  .footer-container {
    grid-template-areas: 
    "logo navigation secondary social"
     "contact contact newsletter newsletter"; 
  }
}

@media all and (max-width: 768px) {
    .container {
    margin: 0 3rem;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    grid-template-areas:
    "logo menu"
    "content content"
    "form offer"
    "contactus offer"
    "footer footer";
  }

}

@media all and (max-width: 540px) {
  .container {
    margin: 0 1rem;
    grid-template-columns:2fr;
    grid-template-areas: 
    "logo"
    "menu"
    "content"
    "offer"
    "form"
    "contactus"
    "footer"
  }

  html {
  font-size: 12px;
}

.main-menu {
  justify-self:start;
}

  .footer { 
  grid-template-columns: 2vw 2fr 2vw; 
  padding:2vw 6vw;
}

.footer-container {
    grid-template-areas: 
    "logo navigation"
    "secondary social"
     "contact contact"
     "newsletter newsletter"; 
  }

  .footer-logo img {
  height: 4rem;
 }

}


