.container {
  display: grid;
  margin: 0 5rem;
  grid-template-columns: 3fr 5fr 2fr 2fr;
  grid-template-rows: 5rem;
  grid-gap: 2rem 1rem;
  grid-template-areas:
    "logo logo menu menu"
    "offer content content contactus"
    "footer footer footer footer";
}

.logo {
  grid-area: logo;
  align-self: center;
}

.main-menu {
  grid-area: menu;
  /* align-self: center;
  justify-self: end; */
  place-self: center end;
}

.contact-pic {
  grid-area:offer ;
  align-self:start;
}

.content-area {
  grid-area: content;
}

.contacts {
  grid-area:contactus;
  justify-self: end;

}

.footer {
  grid-area: footer;
}