.container {
  display: grid;
  margin: 0 2rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows:10rem;
  grid-gap: 1rem 1rem;
  grid-row-gap: 5rem;
  grid-template-areas: 
  "name name menu"
  "inspiration content spotify"
  "ballscontainer ballscontainer ballscontainer"
  "footer footer footer"
}

.header {
  grid-area:name;
  place-self:center start;
}

.menu {
  grid-area: menu;
  place-self: center end;
}


.inspiration {
  grid-area: inspiration;
}

.content-area {
  grid-area: content;
}

.spotifycontainer {
  grid-area: spotify;
}

.ballscontainer {
  grid-area: ballscontainer;
}

.footer {
  grid-area: footer;
}

.ballscontainer {
  margin:4rem;
  display: grid;
  grid-template-columns:repeat(6, 2fr);
  grid-template-rows: 2fr;
  grid-auto-flow: row;
  grid-gap:1rem;
}

@media all and (max-width:1080px) {
  .container {
  grid-template-rows:8rem;
 }

 .menu ul {
  font-size: 2rem;
 }

 h2{
  font-family: Goldman;
  font-size: 3rem;
 }

  p{
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
   }
}

@media all and (max-width: 850px) {
  .container {
  grid-template-columns: 1fr 3fr;
  grid-template-rows:4rem;
  grid-gap: 1rem 1rem;
  grid-row-gap: 1rem;
  grid-template-areas: 
  "name name"
  "menu ."
  "inspiration content"
  "spotify spotify"
  "ballscontainer ballscontainer"
  "footer footer"
 }

 .name {
  font-size:3rem;
  margin-left:2rem;
 }

 .menu ul {
  font-size: 1.5rem;
  margin-left:1rem;
}

.inspiration {
  margin-left:2rem;
}

.spotifycontainer {
  display:grid;
  margin:2rem;
  grid-template-columns:repeat(4,1fr);
}

.spotifycontainer img{
  width: 100%;
}

.ballscontainer {
  margin:2rem;
}

.spotifycontainer h3 {
  text-align: left;
}

.menuitem {
  font-family: Goldman;
  margin-left:1rem;
 }
}

h5{
  padding-left: 2rem;
  font-size: 1.4rem;
}

@media all and (max-width: 600px) {
  html {
    font-size:6px;
  }
}




